/* Custom props*/
:root {
  --body-bg: #f1f4ff;
  --green-color: #4dc490;
  --primary-color: #f03535;
  --blue-color: #3a2bf8;
  --black-color: #000 ;
  --text-color: #555;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter", "Arial", "sans-serif";
  background-color: var(--body-bg);
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  max-width: 1192;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  padding-top: 80px;
  padding-bottom: 80px;
  flex-grow: 1;
}


/* font */
Inter 700,400, 600,500